<link href="~/css/StyleSheet.css" rel="stylesheet" />

@{
    ViewData["Title"] = "DisplayUser";
}

@model RegisterUser

<h1 class="congrats">Congratulations @Model.FirstName @Model.LastName! You're Ready for Pizza!!!</h1>